[Desktop Entry]
Encoding=UTF-8
Name=Intone
Comment=e Media Player
Exec=intone
Icon=intone
Terminal=false
Type=Application
Categories=Application;Utility;
